{% extends "shared/base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}" type="text/css">
    <title>アイテム追加</title>
{% endblock %}

{% block body %}
    <h1>アイテム追加</h1>
    {%- if not is_next_page %}
    <form action="{{ url_for('read_users_items_add_post') }}" method="post">
        <p>JANコード： {{ jan_code }}<input type="hidden" name="{{ POST_JAN_CODE }}" value="{{ jan_code }}"></p>
        <p>商品名： <input type="text" name="{{ POST_NAME }}" value="{{ name }}"></p>
        <p>在庫： <input type="number" name="{{ POST_INVENTORY }}" value="{{ inventory }}"></p>
        <p>保管場所： <input type="text" name="{{ POST_PLACE }}" value="{{ place }}"></p>
        <p>カテゴリー： <input type="text" name="{{ POST_CATEGORY }}" value="{{ category }}"></p>
        <p>メーカー：<input type="text" name="{{ POST_MANUFACTURER }}" value="{{ manufacturer }}"></p>
        <p>備考： <input type="text" name="{{ POST_TEXT }}" value="{{ text }}"></p>
        <p>消費期限： <input type="date" name="{{ POST_EXPIRY_DATE }}" value="{{ expiry_date }}"></p>
        <input type="hidden" name="{{POST_TIMEZONE}}" value="{{ local_timezone }}">
        {%- if error_msg %}
        <p style="color:red;">{{ error_msg }}</p>
        {%- endif %}
        <p><input type="submit" value="登録"></p>
    </form>
    <p><a href="{{ url_for('read_users_items_add_jancode') }}" class="plain-link">JANコードの入力へ戻る</a></p>
    {%- else %}
    <p>
      登録しました。
    </p>
    <p>
      <form action="{{ url_for('read_users_items_add') }}" method="post">
        <input type="hidden" name="{{ POST_JAN_CODE }}" value="{{ jan_code }}">
        <input type="submit" value="同じJANコードで続けて追加する">
      </form>
    </p>
    <p>
        <a href="{{ url_for('read_users_items_add_jancode') }}" class="like_button_link">別のJANコードを追加する</a>
    </p>
    {%- endif %}
    <p><a href="{{ url_for('read_users_items') }}" class="plain-link">アイテム一覧へ戻る</a></p>
{% endblock %}
