{% extends "shared/base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}" type="text/css">
    <title>アイテム追加</title>
{% endblock %}

{% block body %}
    <h1>アイテム追加</h1>
    <p>追加する商品のJANコードを入力してください。</p>
    <form action="{{ url_for('read_users_items_add') }}" method="post">
        <p>
            JANコード： <input type="number" name="{{ POST_JAN_CODE }}" class="jan_code_input" value="{{ jan_code }}" required>
            <a href="{{ url_for('read_users_items_read_jancode') }}?from_url={{ url_for('read_users_items_add_jancode') }}" class="like_button_link">カメラを起動</a>
        </p>
        <p><input type="submit" value="次へ"></p>
    </form>
    <p><a href="{{ url_for('read_users_items') }}" class="plain-link">アイテム一覧へ戻る</a></p>
{% endblock %}
